@charset "utf-8";

.developers {
	width: 1200px;
	padding: 70px 0;
	height: auto;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
}

.developers .profile_title {
	visibility: visible;
	-webkit-animation: title_up 2s both;
	-moz-animation: title_up 2s;
	-ms-animation: title_up 2s both;
	animation: title_up 2s both;
}

.developers .profile_title h3 {
	font-size: 36px;
	margin: 0;
}

.developers .profile_text p {
	margin: 0;
	color: #929292;
	line-height: 24px;
}

.developers .profile_title span {
	display: inline-block;
	background: #1CA889;
	width: 17px;
	height: 5px;
	margin-bottom: 20px;
	margin: 40px 0 20px 0;
}

.developers .content {
	margin-top: 60px;
}

.developers .content .box:nth-child(1) {
	background: #1ca889;
}
.developers .content .box:nth-child(2) {
	background: #6678b6;
}
.developers .content .box:nth-child(3) {
	background: #4ba6b9;
}
.developers .content .box {
	width: 30.5%;
	float: left;
	margin-left: 2.8%;
	min-height: 380px;
	padding: 40px 50px;
	box-sizing: border-box;
	color: #fff;
}

.developers .content .box span {
	height: 40px;
	display: block;
}

.developers .content .box h3 {
	font-size: 18px;
	margin: 15px 0;
}
.developers .content .box p {
	margin: 0;
}

.mien {
	background: #e3f3fb;
}

.mien_box {
	padding: 80px 0;
	width: 63.059%;
	height: auto;
	clear: both;
	margin: 0 auto;
	overflow: hidden;

}

.mien_box .profile_title {
	visibility: visible;
	-webkit-animation: title_up 2s both;
	-moz-animation: title_up 2s;
	-ms-animation: title_up 2s both;
	animation: title_up 2s both;
}

.mien_box .profile_title h3 {
	font-size: 36px;
	margin: 0;
}

.mien_box .profile_title span {
	display: inline-block;
	background: #1CA889;
	width: 17px;
	height: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.mien_box .swiper_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
	transform: translate3d(0px, 0px, 0px);
	transition-duration: 0ms;
}

.mien_box .swiper_wrapper .swiper_slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	-moz-box-flex: 0;
	flex-shrink: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
	width: 32%;
	margin-right: 2%;
}

.mien_box .btn_box .btn_group button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #7d7d7d;
	color: #7d7d7d;
	outline: none;
}

.mien_box .btn_box {
	clear: both;
	padding-top: 60px;
}

.mien_box .btn_box .btn_group .switch_point {
	display: inline-block;
	margin: 0 30px;
}

.mien_box .btn_box .btn_group .switch_point span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #7d7d7d;
	transition: all .5s;
}

.mien_box .btn_box .btn_group .switch_point .active {
	background: #0088CC;
}
.project{
	padding: 80px 0;
	height: auto;
	clear: both;
	overflow: hidden;
}
.project .profile_title h3 {
	font-size: 36px;
	margin: 0;
}

.project .profile_title span {
	display: inline-block;
	background: #1CA889;
	width: 17px;
	height: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
}



.case_nav {
	background: #0088CC;
	color: #fff;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 60px;
	text-align: center;
	border-radius: 25px;
}

.case_nav a {
	display: inline-block;
	width: 130px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.case_nav a.active {
	background: #1CA889;
	border-radius: 25px;
}

.case_box {
	position: relative;
	overflow: hidden;
}

.wrapper {
	position: relative;
	top: 0;
	z-index: 1;
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
	transform: translate3d(0px, 0px, 0px);
	transition-duration: 0ms;
}

.wrapper ul {

	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	-moz-box-flex: 0;
	flex-shrink: 0;
	width: 100%;
	
}


.project_one ul>.on,.project_two ul>.on{
	width: 40%;
}

.project_one ul>li,.project_two ul>li{
	position: relative;
	width: 20%;
	float: left;
	margin-bottom: 40px;
	height: 358px;
	transition: all .4s;
}

.project_one ul>li a .img ,.project_two ul>li a .img{
	width: 100%;
	height: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;

}

.project_one ul>.on .img,.project_two ul>.on .img {
	border: 2px solid #0F86C6;
}

.project_one .list_one>li:nth-of-type(1) a .img {
	background: url(../img/content/project_03.jpg) no-repeat center;
}

.project_one .list_one>li:nth-of-type(2) a .img {
	background: url(../img/content/project_02.jpg) no-repeat center;
}

.project_one .list_one>li:nth-of-type(3) a .img {
	background: url(../img/content/project_01.jpg) no-repeat center;
}

.project_one .list_one>li:nth-of-type(4) a .img {
	background: url(../img/content/project.jpg) no-repeat center;
}

.project_one .list_two>li:nth-of-type(1) a .img {
	background: url(../img/content/project_04.jpg) no-repeat center;
}



.project_one ul>li a .case_info,.project_two ul>li a .case_info {
	position: absolute;
	width: 88%;
	left: 6%;
	bottom: 0;
	background: #0f86c6;
	box-sizing: border-box;
	color: #fff;
	padding: 50px;
	transition: all .8s;
	opacity: 0;
}

.project_one ul>.on a .case_info,.project_two ul>.on a .case_info {
	opacity: 1;
	transform: translateY(40px);
}



.project_two ul>li:nth-of-type(1) a .img {
	background: url(../img/content/project_07.jpg) no-repeat center;
}

.project_two ul>li:nth-of-type(2) a .img {
	background: url(../img/content/project_08.jpg) no-repeat center;
}

.project_two ul>li:nth-of-type(3) a .img {
	background: url(../img/content/project_09.jpg) no-repeat center;
}
.project_two ul>li:nth-of-type(4) a .img {
	background: url(../img/content/project_10.jpg) no-repeat center;
}
.project_two .list_two>li:nth-of-type(1) a .img {
	background: url(../img/content/project_11.jpg) no-repeat center;
}
.project_two .list_two>li:nth-of-type(2) a .img {
	background: url(../img/content/project_11.jpg) no-repeat center;
}
.project .btn_box .btn_group button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #7d7d7d;
	color: #7d7d7d;
	outline: none;
}

.project .btn_box {
	clear: both;
	padding-top: 60px;
}

.project .btn_box .btn_group .switch_point {
	display: inline-block;
	margin: 0 30px;
}

.project .btn_box .btn_group .switch_point span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #7d7d7d;
	transition: all .5s;
}

.project .btn_box .btn_group .switch_point .active {
	background: #0f86c1;
}
@media (max-width:1200px) {
	.developers {
		width: 84%;
	}
	.developers .content .box:nth-of-type(1),.developers .content .box:nth-of-type(2) {
		width:49%;
		float: left;
		margin-left:0;
		padding: 40px;
		box-sizing: border-box;
		color: #fff;
		margin-bottom: 1%;
		margin-left: 1%;
	}
	.developers .content .box:nth-of-type(1){
		width: 49%;
		float: left;
		margin-left:0;
		padding: 40px;
		box-sizing: border-box;
		color: #fff;
		margin-bottom: 1%;
		margin-right: 1%;
	}
	.developers .content .box:nth-of-type(3) {
		width: 100%;
		float: left;
		margin-left:0;
		padding: 40px;
		min-height: auto;
		box-sizing: border-box;
		color: #fff;
		margin-bottom: 1%;
	}
	.mien_box {
		width: 84%;
	}
}

@media (max-width:767px) {
	.developers {
		width: 94%;
	}
	.mien_box {
		width: 94%;
		padding: 30px 0;
	}
	.project{
		padding: 30px 0;
	}
	.developers .profile_title h3,.mien_box .profile_title h3,.project .profile_title h3 {
		font-size: 18px;
		margin: 0;
	}

	.developers .profile_title span,.mien_box .profile_title span,.project .profile_title span{
		margin: 20px 0 20px 0;
	}


	.developers {
		padding: 30px 0px;
	}
	
	.developers .content .box {
		width: 100%;
		float: left;
		margin-left:0;
		min-height: auto;
		padding: 40px;
		box-sizing: border-box;
		color: #fff;
		margin-bottom: 1%;
	}
	.developers .content .box:nth-of-type(1),.developers .content .box:nth-of-type(2),.developers .content .box:nth-of-type(3) {
		width: 100%;
		float: left;
		margin-left:0;
		min-height: auto;
		padding: 40px;
		box-sizing: border-box;
		color: #fff;
		margin-bottom: 1%;
	}
	.project_one ul>.on,.project_two ul>.on {
		width: 100%;
		display: inline-block;
	}

}
