<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- 移动端 -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 渲染引擎 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=11" />
		<!-- title icon -->
		<link rel="shortcut icon" href="../img/title/icon.png" type="image/x-icon" />
		<!-- 描述 -->
		<meta name="description" content="四川汇丰物业服务有限公司，成立于2002年。业务涵盖住宅物业、写字楼物业、办公物业、城市综合体物业等多种业态。">
		<!-- 关键字 -->
		<meta name="keyword" content="汇丰,物业,汇丰物业,住宅,商业,社区生活,智能科技">
		<!-- 百度搜索的禁止转码 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- 禁止缓存 -->
		<meta http-equiv="Cache-Control" content="no-cache" />
		<!--css-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/view_public.css" />
		<link rel="stylesheet" type="text/css" href="../css/join_us.css" />
		<title>四川汇丰物业服务有限公司</title>
	</head>
	<body>
		<div class="warp">

			<!-- 导航条 -->
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container header">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						 aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="../img/logo/logo.png" class="img-responsive navbar_brand_img"></a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right text-center">
							<li><a href="../index.html">首页</a></li>
							<li><a href="about.html">走进汇丰</a></li>
							<li><a href="news.html">媒体中心</a></li>
							<li><a href="pro.html">产品服务</a></li>
							<li><a href="market_cooperation.html">市场合作</a></li>
							<li class="active"><a href="join_us.html">加入我们</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>



			<!-- 内容 -->
			<div class="content">
				<!-- bannel -->
				<div class="bannel">
					<img src="../img/bannel/bannel_09.jpg" class="img-responsive">
					<div class="banner_text">
						<h3>加入我们</h3>
						<h3>海纳百川，知人善用</h3>
					</div>
				</div>
				<!-- 子导航 -->
				<div class="subnavigation">
					<ul class="page_nav list-unstyled">
						<li class="">
							<a href="#wrapper15">人才招聘</a>
						</li>
						<li class="">
							<a href="#wrapper16">联系我们</a>
						</li>
					</ul>
				</div>

				<div class="talent_recruitment" id="wrapper15">
					<div class="join">
						<div class="profile_title text-center">
							<h3>人才招聘</h3>
							<span></span>
							
						</div>
						<div class="profile_text text-center">
							<p>在这里，我们希望看到人尽其才，让每个人的闪光点，都能照亮所有的美好。</p>
							<p>汇丰物业，期待与你同行。</p>
							<p><br></p>
						</div>
					</div>
					<div class="list_title">
						<ul class="profile_list list-unstyled">
							<li class="active text-center"><a href="#society" aria-controls="society" role="tab" data-toggle="tab">社会招聘</a></li>
							<li class="text-center"><a href="#school" aria-controls="school" role="tab" data-toggle="tab">校园招聘</a></li>
							<li class="text-center" class="active text-center"><a href="#summer_vacation" aria-controls="summer_vacation"
								 role="tab" data-toggle="tab">暑假工招聘</a></li>
						</ul>
					</div>
					<div class="list_content tab-content">
						<div role="tabpanel" class="tab-pane active" id="society" style="overflow: hidden;">
							<div class="society_box">
								<div class="rc_box">
									<h3 class="title"><span>区域公司负责人</span><span>招聘人数：不限名</span><span>工作地点：成都、广东、乐山、眉山</span><i class="unfold_btn"></i></h3>
									<div class="content">
										<div class="content_box">
											<p>岗位职责</p>
											<p>1、全面贯彻实施物业总公司下达的年度经营管理目标，全面主持指定区域物业公司的日常经营与管理工作；</p>
											<p>2、拟订区域公司经营目标、重点工作计划，组织各方面的资源，保证各项工作任务和经营指标的完成；</p>
											<p>3、根据年度经营管理需求和成本要求，与公司总部共同制定区域公司内部组织结构和人员编制方案；</p>
											<p>4、监督各部门履行公司的各项制度；</p>
											<p>5、培训、督导各级管理人员，加强对员工的培训和教育，充分调动员工的积极性，提高员工队伍的整体综合素质；</p>
											<p>6、协调地产公司进行开展交房、整改等系列工作，积极配合地产的销售工作；</p>
											<p>任职要求：</p>
											<p>1、30-45岁，全日制大专以上学历；8年以上物业管理行业工作经验；</p>
											<p>2、3年以上知名物业区域经理（多项目管理经验）岗位工作经验，持有物业管理企业经理上岗证者；</p>
											<p>3、熟悉物业管理的相关政策、法规及行业服务规范标准；</p>
											<p>4、熟悉物业管理各阶段的工作和流程，以及相关质量体系的运用操作；了解财务管理知识、能编制预算、具有较高的成本控制意识；</p>
											<p>5、具备良好的沟通、协调、组织及统筹管理的能力，坚持客户至上和优质服务的管理思想；具备积极的工作心态，责任心强。</p>
											<p><br></p>
										</div>
										<button class="apply_btn">申请该职位</button>
									</div>
								</div>
								<div class="rc_box">
									<h3 class="title"><span>项目经理</span><span>招聘人数：不限名</span><span>工作地点：成都</span><i class="unfold_btn"></i></h3>
									<div class="content">
										<div class="content_box">
											<p>岗位职责：</p>
											<p>1.负责项目部管理工作，完成公司下达的各项任务指标；</p>
											<p>2.负责与公司各部门及项目所在地的政府职能部门衔接协调相关工作；</p>
											<p>3.负责制订并落实各项员工培训计划并按行业标准进行考评；</p>
											<p>4.积极开展各类创收服务，做到开源节流；</p>
											<p>5.妥善处理小区业主投诉，听取业主建议和意见并不断提高服务质量，及时处理各种突发事件。</p>
											<p>任职条件：</p>
											<p>1.熟悉物业公司从前期介入、组建到正常运作期间所有的管理运作流程。</p>
											<p>2.中专及以上学历，物业管理类专业，持物业管理师证；</p>
											<p>3.三年以上大中型物业项目相关工作经验；</p>
											<p>4.熟悉物业公司从前期介入、组建到正常运作期间所有的管理运作流程。</p>
											<p>5.能接受外派。</p>
											<p><br></p>
											<p><br></p>
										</div>
										<button class="apply_btn">申请该职位</button>
									</div>
								</div>

								<div class="rc_box">
									<h3 class="title"><span>案场经理</span><span>招聘人数：不限名</span><span>工作地点：成都</span><i class="unfold_btn"></i></h3>
									<div class="content">
										<div class="content_box">
											<p>岗位职责：</p>
											<p>1.负责案场物业日常运营的培训管理工作;&nbsp;<br> 2.负责编排案场整体人员的岗位及工作安排;&nbsp;<br> 3.负责案场整体人员的日常监督工作;&nbsp;<br>
												4.协助完成案场各项经营和管理目标;&nbsp;<br> 5.日常客户关系维护和管理、提高客户满意度和忠诚度;&nbsp;<br> 6.协助与地产、营销等部门的沟通、协调工作。</p>
											<p>任职要求：</p>
											<p>1.三年及以上同行业工作经验；&nbsp;<br> 2.有写字楼前期物业接管、运营管理经验；&nbsp;<br> 3.有案场各部门管理经验，熟悉物业行业前期卖场的服务标准，能独立开展培训；&nbsp;<br>
												4.有良好的语言沟通能力，具有较强的责任心和沟通、策划、组织、协调、管理能力，有良好的服务意识；&nbsp;<br> 5.形象气质佳，沟通能力、领导能力较强，一定的抗压能力</p>
											<p><br></p>
										</div>
										<button class="apply_btn">申请该职位</button>
									</div>
								</div>

								<div class="rc_box">
									<h3 class="title"><span>行政主管</span><span>招聘人数：不限名</span><span>工作地点：成都</span><i class="unfold_btn"></i></h3>
									<div class="content">
										<div class="content_box">
											<p>岗位职责：<br> 1、负责对内、对外发函、申请、通知等文件的起草；<br> 2、负责统筹安排日常后勤工作，如办公室5S管理、会议接待等；<br> 3、负责供方的引进、管理及评估；<br>
												4、负责采购及公司资产管理；<br> 5、负责各类档案建立、管理、存档；<br> 6、组织开展公司企业文化活动、年会等；<br> 7、协助建立公司行政办公费用的预算并控制行政办公费用在预算内执行；<br>
												8、督促有关部门及时完成公司各项工作，并将监督情况及时反馈给领导；<br> 9、完成领导交办的任务。<br> 任职要求：<br> 1、熟悉现代企业管理的基本知识；善于发现问题并具有较强的沟通协调及抗压能力能力；<br>
												2、掌握行政职能、行政组织等行政管理学的基本知识；<br> 3、具备一定的工作计划能力，善于调动部属的工作积极性和发挥其潜能；<br> 4、形象气质俱佳，3年以上行政管理工作经验，房地产、物业管理相关行政经验。</p>
											<p><br></p>
										</div>
										<button class="apply_btn">申请该职位</button>
									</div>
								</div>

								<div class="rc_box">
									<h3 class="title"><span>财务会计</span><span>招聘人数：不限名</span><span>工作地点：成都</span><i class="unfold_btn"></i></h3>
									<div class="content">
										<div class="content_box">
											<p>岗位职责：</p>
											<p>1、负责公司会计核算、财务报表编制工作，以及税务及费用支付审批等工作，编制财务分析，编制分项目指标进度报表并分析，负责公司资金安全及财务管理，会计档案保管</p>
											<p>检查督促所管项目各项收入及时上交。</p>
											<p>2、合理安排资金，保证公司各项目资金的正常运行</p>
											<p>3、组织编制公司项目整体年度，月度预算。对项目预算执行进行动态监控。按月进行汇总统计分析，及时提出成本预警。</p>
											<p>4、配合审计部门对公司进行年审，配合税务部门对公司经营情况，财务情况，税务情况的检查组织，培训各项目的收费，客服岗位人员对财务管理制度、物业收费软件的培训和指导</p>
											<p>5、监督检查和总结分析所管辖项目对财务管理制度执行及绩效考核完成情况。</p>
											<p>6、企业所得税清算汇缴及各项税费准确按时缴纳，负责协调并维护当地开户银行、税务之间关系。</p>
											<p>7、负责人力行政相关基础事务，包括考勤、薪资核算、人员培训、员工关爱</p>
											<p>任职要求：</p>
											<p>年龄：35岁左右</p>
											<p>学历：大专及以上</p>
											<p>专业：财务会计或财务管理相关专业</p>
											<p>助理会计师以上职称</p>
											<p>三年以上独立操作全套公司财务工作相关经验</p>
											<p>熟悉运用财务软件操作，熟悉物业行业财务管理各模块运行模式优先</p>
											<p>熟悉国家财务会计税收，法律，严格遵守职业道德</p>
											<p>具备良好的沟通协调能力，能够承受一定的工作压力和较强的执行力</p>
											<p><br></p>
										</div>

										<button class="apply_btn">申请该职位</button>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="school">
							<div class="school_box">
								<div>
									<p>汇丰梦想之路是为高校学子搭建了解企业运作、提高实践能力的实习平台。</p>
									<p>有志于投身房地产物业行业的优秀学子，通过加入汇丰物业实习平台，毕业之后后将直接获得转入汇丰物业“丰芒生”项目经理培养计划。</p>
									<p>招聘条件及补贴标准：</p>
									<p>1、实习生招聘对象：全国本科类院校以上（空乘类可放宽至大专院校）；</p>
									<p>2、招聘时间：当年7、8月为校招推广阶段，9月为网申阶段，10月为宣讲面试录用阶段；</p>
									<p>3、工作地点：成都、乐山、眉山、雅安、西昌、攀枝花、河北、广东、吉林、宜昌、新疆等地；</p>
									<p>4、实习补贴：2200元/月+250元/月岗位津贴（会根据公司政策进行补贴调整）</p>
									<p>5、上班时间：周末双休，法定节假日正常休假，若为项目实习生工作时间则由区域项目进行编排。</p>
									<p>实习生招聘岗位：</p>
									<p>1、工程岗：工程管理、给排水工程、水电水利、建筑设备工程等；</p>
									<p>2、品质运营、客服岗：物业管理、酒店、航空空乘、计划运营等；</p>
									<p>3、财务岗：会计学、财务管理、税务管理、经济法等；</p>
									<p>4、综合管理岗：人力资源管理、企业管理、工商管理、经济学等；</p>
									<p><br></p>
									<p><br></p>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="summer_vacation">
							<div class="summer_vacation_box">
								<div>
									<p>汇丰暑假工、寒假工，望有志学子加入互动</p>
									<p>招聘对象：本科类大二、大三在校学生，研究生研二</p>
									<p>补贴：按照公司政策实行</p>
									<p><br></p>
								</div>
							</div>
						</div>
					</div>


				</div>

				<div class="contact_us" id="wrapper16">
					<div class="m_banner">
						<img src="../img/bannel/bannel_10.jpg" class="img-responsive">
						<h3>联系我们</h3>
					</div>
					<div class="contact_us_content">
						<div class="contact_head">
							<div class="info">
								<p>总部职能</p>
								<p>钱女士：15982288431</p>
								<p>向女士：15828164426</p>
								<p>联系地址：四川省成都市高新区天府二街151号领地·环球金融中心44F</p>
							</div>
							<div class="code">
								<div class="box">
									<img src="../img/QR_code/QR_code_02.jpg">
									<h3>微信订阅号</h3>
								</div>
								<div class="box">
									<img src="../img/QR_code/QR_code_01.jpg">
									<h3>微信服务号</h3>
								</div>

							</div>
						</div>

						<div class="contact_addre">
							<div class="box">
								<h3>成都区域</h3>
								<div class="text">
									<p>张女士：13739452889</p>
									<p>联系地址：成都市成华区致力路556号（领地海纳时代）</p>
								</div>
							</div>
							<div class="box">
								<h3>乐山区域</h3>
								<div class="text">
									<p>杨女士：13981314447</p>
									<p>联系地址：乐山市市中区白云街336号（国际华府）物业办公室三楼</p>
								</div>
							</div>
							<div class="box">
								<h3>眉山区域</h3>
								<div class="text">
									<p>张女士：13778860402</p>
									<p>联系地址：眉山市东坡区湖滨路北二段16号（凯旋国际公馆物业服务中心）停车场入口旁商铺二楼</p>
								</div>
							</div>
							<div class="box">
								<h3>雅安、西昌区域</h3>
								<div class="text">
									<p>魏女士：18283500444</p>
									<p>联系地址：雅安：雅安市雨城区天梯路7号汇丰物业办公室 西昌：西昌市航天大道五段47号凯旋国际公馆物业服务处</p>
								</div>
							</div>
							<div class="box">
								<h3>吉林公司</h3>
								<div class="text">
									<p>宫女士：18043012735 </p>
									<p>联系地址：吉林省长春市净月开发区生态东街与天富路交汇北行100米，环球凯旋公馆物业服务中心</p>
								</div>
							</div>
							<div class="box">
								<h3>广东区域</h3>
								<div class="text">
									<p>谢女士：13925977808</p>
									<p>联系地址：佛山市南海区里水镇里水大道中5号，领地海纳公馆</p>
								</div>
							</div>
							<div class="box">
								<h3>新疆区域</h3>
								<div class="text">
									<p>张女士：15199127062</p>
									<p>联系地址：库尔区：新疆库尔勒市石化大道凯旋公馆16号楼旁二楼办公室 乌鲁木齐：新疆乌鲁木齐市水磨沟区准葛尔街蘭</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- 底部 -->
			<footer class="footer">
				<div class="container">
					<div class="footer_top">
						<div class="col-lg-6 col-md-6 col-sm-7">

							<div class="foot_code">
								<div class="code_box">
									<img src="../img/QR_code/QR_code_01.jpg">
									<h5>微信订阅号</h5>
								</div>
								<div class="code_box">
									<img src="../img/QR_code/QR_code_02.jpg">
									<h5>微信服务号</h5>
								</div>
							</div>
							<div class="foot_addre">
								<h3>四川汇丰物业服务有限公司</h3>
								<div>
									<p>联系电话：吴先生：13980092324</p>
									<p>全国服务热线：400-606-3663</p>
									<p>传真：028-82083866</p>
								</div>
								<div>
									<p>邮箱：523050146@qq.com</p>
									<p>邮编：610000</p>
									<p>地址：四川省成都市天府二街151号领地·环球金融中心44F</p>
								</div>
							</div>

						</div>
						<div class="col-lg-6 col-md-6 col-sm-5">
							<div class="foot_leave_word">

								<h3>在线留言</h3>
								<form action="" method="post" class="foot_leave_form">
									<div class="foot_leave_input">
										<input type="text" value="" placeholder="姓名" />
										<input type="text" value="" placeholder="电话" />
										<input type="text" value="" placeholder="邮箱" />
									</div>

									<div class="form-group">
										<textarea rows="3" placeholder="内容"></textarea>
									</div>
									<button type="button" class="btn btn-md btn-success">提交预约</button>
								</form>

							</div>
						</div>
					</div>

					<div>
						<p class="blogroll page-header">
							友情链接：<a href="http://www.leading-group.com/">领地集团股份有限公司</a>
						</p>
					</div>

					<div>
						<p class="foot_bar">
							IntellPath Consulting Ltd.CopyRight &copy; 2015-2020 蜀ICP备12345678号
							<a href="http://www.ac57.com" class="pull-right"> 技术支持：爱诚科技</a>
						</p>
					</div>
				</div>
			</footer>
		</div>





		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" type="text/javascript"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../js/notIE.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
